@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
*, *:after, *:before {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

label {
  display: block;
}

form div {
  margin: 20px 0;
}

.container {
  font-family: raleway;
  margin: 30px auto;
  max-width: 500px;
  padding: 30px;
}

@media only screen and (max-width: 800px) {
  .container {
    margin: 0px auto;
    padding: 10px 10px;
  }
}
form label {
  margin: 5px 0;
}

form input {
  width: 100%;
  display: block;
  padding: 10px 20px;
}

form button {
  background: purple;
  color: #fff;
  cursor: pointer;
  width: 100%;
  display: block;
  padding: 10px 20px;
  border: none;
}

form button.activated {
  background: green;
  color: #fff;
  cursor: pointer;
}

#step2 {
  display: none;
}

.btn {
  background: purple;
  padding: 10px 20px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin: 10px 0 0 0;
  border-radius: 5px;
}